In [109]:
import pandas as pd
import numpy as np
#from numpy import random
import random
from scipy import stats as st

In [21]:
#loading in NLP values
df1 = pd.read_csv('wikipages_nlp.csv', index_col=0)
df1.head(10)

,Name,Year,inTransWomen,inTransMen,inNB,inTrans,inWomen,inMen,inLGBT,inBisexual_people,...,empath_weapon,empath_children,empath_monster,empath_ocean,empath_giving,empath_contentment,empath_writing,empath_rural,empath_positive_emotion,empath_musical
0,Kjell Aamot,1950,False,False,False,False,False,False,False,False,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.006897,0.000000,0.000000,0.000000
1,Olav Aaraas,1950,False,False,False,False,False,False,False,False,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.006211,0.000000,0.000000,0.000000
2,Marc Aaronson,1950,False,False,False,False,False,False,False,False,...,0.000000,0.000000,0.0,0.001025,0.000000,0.0,0.000000,0.000000,0.001025,0.000000
3,Ülle Aaskivi,1950,False,False,False,False,True,False,False,False,...,0.000000,0.002304,0.0,0.000000,0.002304,0.0,0.000000,0.000000,0.002304,0.000000
4,Oğuz Abadan,1950,False,False,False,False,False,False,False,False,...,0.000000,0.003942,0.0,0.000000,0.001314,0.0,0.000000,0.000000,0.000000,0.024967
5,Ahmet Abakay,1950,False,False,False,False,False,True,False,False,...,0.000000,0.015075,0.0,0.000000,0.000000,0.0,0.012563,0.001256,0.003769,0.000000
6,Martine Aballéa,1950,False,False,False,False,True,False,True,False,...,0.000000,0.001067,0.0,0.000000,0.000000,0.0,0.001067,0.000000,0.000000,0.003202
7,Gadzhi Abashilov,1950,False,False,False,False,False,False,False,False,...,0.001996,0.001996,0.0,0.000000,0.000000,0.0,0.003992,0.000000,0.001996,0.000000
8,Kamil Al-Abbasi,1950,False,False,False,False,False,False,False,False,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.008333,0.000000,0.000000,0.000000
9,Aslan Abbasov,1950,False,False,False,False,False,False,False,False,...,0.000000,0.000000,0.0,0.000000,0.003953,0.0,0.035573,0.000000,0.000000,0.000000

In [33]:
#dropping extra columns
df1=df1.drop(df1.columns[2:13],axis=1)#df1.columns[2:13]
#df1.head()

,Name,Year,links,categories,QID,text,word_count,vader_compound,vader_neg,vader_neu,...,empath_weapon,empath_children,empath_monster,empath_ocean,empath_giving,empath_contentment,empath_writing,empath_rural,empath_positive_emotion,empath_musical
0,Kjell Aamot,1950,"['BI Norwegian Business School', 'Verdens Gang']","['Category:1950 births', 'Category:BI Norwegia...",Q11980824,Norwegian business executive Kjell Aamot Born ...,185,0.4019,0.000,0.979,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.006897,0.0,0.000000,0.000000
1,Olav Aaraas,1950,"['Fredrikstad', 'Maihaugen', 'Norwegian Museum...","['Category:1950 births', 'Category:Directors o...",Q3431302,Norwegian historian and museum director Olav A...,187,0.7003,0.000,0.951,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.006211,0.0,0.000000,0.000000
2,Marc Aaronson,1950,"['United States', 'Astronomer', 'Los Angeles, ...","['Category:1950 births', 'Category:1987 deaths...",Q2258893,American astronomer Marc Aaronson Born ( 1950-...,1098,0.9826,0.032,0.894,...,0.0,0.000000,0.0,0.001025,0.000000,0.0,0.000000,0.0,0.001025,0.000000
3,Ülle Aaskivi,1950,"['1990 Estonian Supreme Soviet election', 'Con...","['Category:1950 births', 'Category:2007 deaths...",Q16407530,Estonian politician Ülle Aaskivi Born Ülle Kii...,1039,0.9731,0.041,0.888,...,0.0,0.002304,0.0,0.000000,0.002304,0.0,0.000000,0.0,0.002304,0.000000
4,Oğuz Abadan,1950,"['Turkey', 'Ankara', 'Mandolin', 'Gazi Univers...","['Category:1950 births', 'Category:Living peop...",Q7116769,Turkish musician (born 1950) This biography of...,845,0.9305,0.007,0.961,...,0.0,0.003942,0.0,0.000000,0.001314,0.0,0.000000,0.0,0.000000,0.024967

In [19]:
#reading in wikidata data
df2 = pd.read_csv('wikidataSupportData.csv',keep_default_na=False)
#df2.head()

In [65]:
#cleaning up wikidata data by dropping rows that have a broken wikidata link in either the P21 or P91 columns

df=df2[~df2.P21.str.contains('|'.join(['http://www.wikidata.org/']))]
df=df[~df.P91.str.contains('|'.join(['http://www.wikidata.org/']))]
df['P91'].unique()

array(['', 'lesbianism', 'non-heterosexuality', 'asexuality', 'gay',
       'homosexuality', 'heterosexuality', 'bisexuality', 'pansexuality',
       'hasbian', 'homoeroticism', 'sapiosexuality', 'male homosexuality',
       'demisexuality', 'homoromantic', 'sexual fluidity', 'aromanticism',
       'gray asexuality', 'bisexual', 'gay men'], dtype=object)

In [55]:
#seperating into gay/not gay sexuality
ng=pd.concat([df[df['P91']==''],df[df['P91']=='heterosexuality']])
g=df[~df.QID.isin(ng.QID)]

      QID                  Name     P21 P21ref P91 P91ref P6553 P6553ref
0  Q66764         Marion Becker  female
1  Q69588        Yuri N Maltsev    male
2  Q70195         Klaus Regling    male
3  Q74800  Hans-Joachim Zillmer    male
4  Q75733         Gisbert Haefs    male

In [59]:
ng.head()

In [60]:
g.head()

,QID,Name,P21,P21ref,P91,P91ref,P6553,P6553ref
5043,Q6794690,Max Dashu,female,,lesbianism,,,
5469,Q7280044,Radclyffe,female,,lesbianism,,,
9181,Q16543603,Carmen Muñoz,female,,lesbianism,,,
11473,Q21567781,Tamás Király,male,,non-heterosexuality,,,
11593,Q22004198,Beth Elliott,transgender female,,lesbianism,,,

In [73]:
#splitting into cis/non-cis gender ID
cis=pd.concat([df[df['P21']==''],
             df[df['P21']=='female'],
             df[df['P21']=='cisgender male'],
             df[df['P21']=='cisgender female'],
             df[df['P21']=='male']])
t=df[~df.QID.isin(cis.QID)]

In [74]:
t['P21'].unique()

array(['transgender female', 'non-binary', 'genderqueer',
       'transgender male', 'intersex', 'kathoey', 'two-spirit',
       'genderfluid', 'transgender person', 'third gender', 'neutral sex',
       'travesti', 'bigender', 'female organism', 'pangender', 'agender',
       'queer', 'male organism', 'muxe', 'intersex person',
       'transmasculine', 'transfeminine', 'demiboy', 'neutrois',
       'assigned female at birth', 'nigger'], dtype=object)

In [75]:
cis['P21'].unique()

array(['', 'female', 'cisgender male', 'cisgender female', 'male'],
      dtype=object)

In [78]:
#using above to divide queer/non-queer
q=pd.merge(t,g, how='outer').drop_duplicates(subset=['QID'])
#q.tail()

,QID,Name,P21,P21ref,P91,P91ref,P6553,P6553ref
3943,Q86926495,Isaac Dunbar,male,,gay,,,
3944,Q24174947,JoJo Siwa,female,,pansexuality,,,
3945,Q26703280,Jack Dylan Grazer,male,,bisexuality,,L371,
3947,Q28086399,Awra Briguela,male,,gay,,,
3948,Q110608973,Adan Santiago,male,,gray asexuality,,,

In [79]:
nq=df[~df.QID.isin(q.QID)]
nq.head()

      QID                  Name     P21 P21ref P91 P91ref P6553 P6553ref
0  Q66764         Marion Becker  female
1  Q69588        Yuri N Maltsev    male
2  Q70195         Klaus Regling    male
3  Q74800  Hans-Joachim Zillmer    male
4  Q75733         Gisbert Haefs    male

In [80]:
nq.tail()

,QID,Name,P21,P21ref,P91,P91ref,P6553,P6553ref
2126571,Q102252979,Eydan Yusoff bin Daniel James Tyler,male,,,,,
2126572,Q105823098,Aksara Asa Nasution,male,,,,,
2126573,Q107742532,Luke Neto,male,,,,,
2126574,Q109664709,Maria Alexandra de Roumanie,female,,,,,
2126575,Q104153420,Prithvi Ambani,male,,,,,

In [82]:
#randomly sample rows for statistical tests
print(len(g),len(ng),len(t),len(cis),len(q),len(nq))

2464 2124112 1627 2124821 3652 2122588

In [88]:
colNames=df1.columns[6:]

In [ ]:
gIndex=df1.index[df1['QID'].isin(g['QID'])].tolist()
ngIndex=df1.index[df1['QID'].isin(ng['QID'])].tolist()
tIndex=df1.index[df1['QID'].isin(t['QID'])].tolist()
cisIndex=df1.index[df1['QID'].isin(cis['QID'])].tolist()
qIndex=df1.index[df1['QID'].isin(q['QID'])].tolist()
nqIndex=df1.index[df1['QID'].isin(nq['QID'])].tolist()

In [103]:
print(len(gIndex),len(tIndex),len(qIndex))

1696 733 2361

In [84]:
#gSample=g.sample(n=1000)
#gSample.head()
#ngSample=ng.sample(n=1000)
#tSample=t.sample(n=1000)
#cisSample=cis.sample(n=1000)
#qSample=q.sample(n=1000)
#nqSample=nq.sample(n=1000)

In [104]:
gSample=random.sample(gIndex,500)
ngSample=random.sample(ngIndex,500)
tSample=random.sample(tIndex,500)
cisSample=random.sample(cisIndex,500)
qSample=random.sample(qIndex,500)
nqSample=random.sample(nqIndex,500)
#print(gSample,len(gSample))

In [108]:
results=pd.DataFrame(columns=['metric','orientationStatistic','orientationPValue','genderStatistic','genderPValue','queernessStatistic','queernessPValue'])

606198    0.065
628973    0.008
507443    0.030
131969    0.032
363481    0.018
          ...
245953    0.009
472132    0.020
674583    0.029
323685    0.054
509505    0.022
Name: vader_neg, Length: 500, dtype: float64

In [112]:
for col in colNames:
    a=df1[col].iloc[gSample]
    b=df1[col].iloc[ngSample]
    c=df1[col].iloc[tSample]
    d=df1[col].iloc[cisSample]
    e=df1[col].iloc[qSample]
    f=df1[col].iloc[nqSample]
    x,y=st.ttest_ind(a,b)
    z,w=st.ttest_ind(c,d)
    s,t=st.ttest_ind(e,f)

In [111]:
print(x)

NameError: name 'x' is not defined

In [89]:
nlpG=df1[~df1.QID.isin(gSample['QID'].unique())]
nlpG.head()

KeyboardInterrupt

In [ ]:
nlpNG=df1[~df1.QID.isin(ngSample['QID'].unique())]
nlpNG.head()

In [ ]:
nlpT=df1[~df1.QID.isin(tSample['QID'].unique())]
nlpT.head()

In [ ]:
nlpCis=df1[~df1.QID.isin(cisSample['QID'].unique())]
nlpCis.head()

In [ ]:
nlpQ=df1[~df1.QID.isin(qSample['QID'].unique())]
nlpQ.head()

In [ ]:
nlpNQ=df1[~df1.QID.isin(nqSample['QID'].unique())]
nlpNQ.head()